<template id="signInFormTemplate">
    <form id="sig-in">
        <h5>Registro</h5>
        <label for="usuario">Nombre de usuario</label>
        <input type="text" id="usuario">
        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos">
        <label for="email">Email</label>
        <input type="email" id="email">
        <label for="password-usuario">Contraseña</label>
        <input type="password" id="password-usuario">
        <label for="n-telefono">Numero telefono</label>
        <input type="tel" id="n-telefono">
        <label for="cod-club">Codigo del club</label>
        <input type="text" id="cod-club">
        <button type="submit">Registrarse</button>
        <p id="registrado" class="hidden">Se ha registrado correctamente</p>
        <p id="error-registro" class="hidden"></p>
    </form>
</template>