select {
  appearance: none; /* Oculta el estilo por defecto */
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px 40px 10px 14px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
  max-width: 300px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  display: block;
  margin: 0 auto;
}
  
select:focus {
  outline: none;
  border-color: #ff6f00;
  box-shadow: 0 0 0 2px rgba(255 111 0);
}
  
select:hover {
  border-color: #bbb;
  cursor: pointer;
}

select option {
  background-color: #c27a43;
  color: #333;
  font-weight: bolder;
  padding: 10px;
}