/* Estilos de colores y tipografias





*/
body{
    background-color: #013c8067;/* hay que trabajar el fondo de detras del contenido */
   
    header{
        background-color: #013c80;
        color: #FFF;
    }

    main{
        background-color: #FFF;
        color: #013c80;
        
        aside{
            background-color: #F5F5F5;
            color:#212121;
            
            #boton-sign-in{
                background-color: #F57C00;
                color: #FFF;
                
            }

            #boton-log-in{
                background-color: #F57C00;
                color: #FFF;
                
            }
        }
    }
    
    footer{
        background-color: #013c80;
    }
}