/* stylelint-disable declaration-block-no-redundant-longhand-properties */

/* Estilos para escritorio la web una vez hay un user
 logueado y las ventanas a las que pueda acceder	 */


 /* Tamaño de fuente */
 html{
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;   /* ~40px */
    line-height: 1.2;
    font-weight: 700;
  }
  
h2 {
font-size: 2rem;     /* ~32px */
line-height: 1.3;
font-weight: 600;
}
  
h3 {
font-size: 1.5rem;   /* ~24px */
line-height: 1.4;
font-weight: 600;
}
  
h4 {
font-size: 1.25rem;  /* ~20px */
line-height: 1.5;
font-weight: 500;
}
  
p, li {
font-size: 1rem;     /* 16px */
line-height: 1.6;
font-weight: 400;
}

a{
    text-decoration: none;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #013c8067;

    header{
        background-color: #013c80;
        color: #FFF;
        width: 80%;
        min-height: 10vh;
    }

    nav{
        width: 80%;
        min-height: 5vh;
        display:flex;
        align-items: center;
        height: 100%;

        &>ol{
            width:100%;
            display:flex;
            justify-content: space-around;
            min-height:5vh;

            &>li{
                width:100%;
                cursor: pointer;
                font-size: 1.2rem;
                line-height: 2.5;
                font-weight: 200;
                text-align: center;
                background-color: #F57C00;
            }

            &>li>a:visited{
                color: #000;
            }

            &>li:hover{
                background-color: #013c80;
                color: #fff;
                
                &>a:visited{
                    color:#fff;
                }
            }


        }

    }

    main{
        background-color: #FFF;
        color:#212121;
        width: 80%;
        min-height: 80vh;
    }

    main#main-inicio{
        display:grid;
        grid-auto-columns: 1fr; 
        grid-template-columns: 2.3fr 1fr 0.4fr; 
        grid-template-rows: 0.5fr 2fr 0.5fr; 
        grid-template-areas: 
          "informacion-mostrar . ."
          "informacion-mostrar mensajes-destacados ."
          "informacion-mostrar . ."; 

        .informacion-mostrar{
            width: 60%;
            grid-area: informacion-mostrar;
        }

        .mensajes-destacados{
            background-color: darkgray;
            color:black;
            grid-area: mensajes-destacados;

        }

    }

    footer{
        width: 80%;
        min-height: 5vh;
    }
 }